{
	# Optional, to enable Caddy’s local CA
	local_certs
	email admin@example.com
}

demo.dev.xyz {
	reverse_proxy host.docker.internal:8000
}



netflix.demo.dev.xyz {
	reverse_proxy host.docker.internal:8000
}

fsrapp.netflix.com {
	reverse_proxy host.docker.internal:8000

}